In [52]:
# Installing dependencies
%pip install pandas scikit-learn numpy

Requirement already satisfied: pandas in /Users/austonpramodh/Desktop/MyProjects/liu/da_710/venv/lib/python3.10/site-packages (1.5.0)
Requirement already satisfied: scikit-learn in /Users/austonpramodh/Desktop/MyProjects/liu/da_710/venv/lib/python3.10/site-packages (1.1.2)
Requirement already satisfied: numpy in /Users/austonpramodh/Desktop/MyProjects/liu/da_710/venv/lib/python3.10/site-packages (1.23.3)
Requirement already satisfied: pytz>=2020.1 in /Users/austonpramodh/Desktop/MyProjects/liu/da_710/venv/lib/python3.10/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/austonpramodh/Desktop/MyProjects/liu/da_710/venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/austonpramodh/Desktop/MyProjects/liu/da_710/venv/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in /Users/austonpramodh/Desktop/MyProjects/liu/da_710/venv/lib/python3.10/site-packages (from scikit-learn) (1.9.1)
Requirement already satisfied: joblib>=1.0.0 in /Users/austonpramodh/Desktop/MyProjects/liu/da_710/venv/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: six>=1.5 in /Users/austonpramodh/Desktop/MyProjects/liu/da_710/venv/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Importing dependencies
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('student-exam-score.csv')
df.head(6)

,Unnamed: 0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,male,group A,high school,standard,completed,67.0,67,63
1,1,female,group D,some high school,free/reduced,none,40.0,59,55
2,2,male,group E,some college,free/reduced,none,59.0,60,50
3,3,male,group B,high school,standard,none,77.0,78,68
4,4,male,group E,associate's degree,standard,completed,78.0,73,68
5,5,female,group D,high school,standard,none,63.0,77,76

In [3]:
# 1. (10pts) Create mappings for the “parental level of education” feature update your
# dataframe with the mappings

# parent_level_education = df["parental level of education"].unique()
# parent_level_education_map = {parent_level_education[i]: i for i in range(len(parent_level_education))}
# print(parent_level_education_map)
# df["parental level of education"] = df["parental level of education"].map(lambda x: parent_level_education_map[x])
# df
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
mapped_values = encoder.fit_transform(df["parental level of education"].values)
df["parental_level_of_education_encoded"] = mapped_values
df.head(6)

,Unnamed: 0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,parental_level_of_education_encoded
0,0,male,group A,high school,standard,completed,67.0,67,63,2
1,1,female,group D,some high school,free/reduced,none,40.0,59,55,5
2,2,male,group E,some college,free/reduced,none,59.0,60,50,4
3,3,male,group B,high school,standard,none,77.0,78,68,2
4,4,male,group E,associate's degree,standard,completed,78.0,73,68,0
5,5,female,group D,high school,standard,none,63.0,77,76,2

In [39]:
# 2. (10pts) Create new training and test data sets from the original data (remember to drop values in the “math-score” column with missing values). 
# Use the following code to create the training and test data sets:
from sklearn.model_selection import train_test_split


df_dropped_na_math_score = df.dropna(subset=["math score"])
# math_score_for_prediction = np.array(df_dropped_na_math_score["math score"]).reshape(-1, 1)
# parent_level_education_for_prediction = np.array(df_dropped_na_math_score["parental_level_of_education_encoded"]).reshape(-1, 1)

math_score_for_prediction = df_dropped_na_math_score[["math score"]]
parent_level_education_for_prediction = df_dropped_na_math_score[["parental_level_of_education_encoded"]]

x_train, x_test, y_train, y_test = train_test_split(parent_level_education_for_prediction, math_score_for_prediction, test_size=0.2, random_state=42)
len(x_train), len(x_test), len(y_train), len(y_test)

(792, 198, 792, 198)

In [40]:
# 3. (20pts) Using Linear Regression with “math-score” as the dependent variable (y) and “parental level of education” as the independent variable (x), fit the model with your training data and score your model with your test data. Note the score in your answer.
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)

print('Training score: {}'.format(model.score(x_train, y_train)))
print('Test score: {}'.format(model.score(x_test, y_test)))

Training score: 0.03374185068203395
Test score: 0.039888977908140055

In [7]:
# 4. (20pts) Using Linear Regression with L1 Regularization, using “math-score” as the
# dependent variable (y) and “parental level of education” as the independent variable
# (x), fit the model with each alpha with your training data and score your model with
# your test data: .1, .15, .3, .6, .9, 1. Note the scores for each alpha in your answer

from sklearn.linear_model import Lasso

x_train, x_test, y_train, y_test = train_test_split(parent_level_education_for_prediction, math_score_for_prediction, test_size=0.2, random_state=42)


for alpha in [.1, .15, .3, .6, .9, 1]:
    model = Lasso(alpha=alpha)
    model.fit(x_train, y_train)
    print('Alpha: {}'.format(alpha))
    print('Training score: {}'.format(model.score(x_train, y_train)))
    print('Test score: {}'.format(model.score(x_test, y_test)))
    print()

Alpha: 0.1
Training score: 0.033728297104728355
Test score: 0.03976648497736368

Alpha: 0.15
Training score: 0.03371135513309609
Test score: 0.03969478240426394

Alpha: 0.3
Training score: 0.03361986848628229
Test score: 0.03943785025411595

Alpha: 0.6
Training score: 0.03325392189902654
Test score: 0.038735776015003665

Alpha: 0.9
Training score: 0.032644010920267474
Test score: 0.037782755190802764

Alpha: 1
Training score: 0.03238649295145812
Test score: 0.03740931567493844

In [9]:
# 5.	(20pts) Using Linear Regression with L2 Regularization, using “math-score” as the dependent variable (y) and 
# “parental level of education” as the independent variable (x), fit the model with each alpha with your training 
# data and score your model with your test data: .1, .15, .3, .6, .9, 1. Note the scores for each alpha in your answer

from sklearn.linear_model import Ridge

x_train, x_test, y_train, y_test = train_test_split(parent_level_education_for_prediction, math_score_for_prediction, test_size=0.2, random_state=42)

for alpha in [.1, .15, .3, .6, .9, 1]:
    model = Ridge(alpha=alpha)
    model.fit(x_train, y_train)
    print('Alpha: {}'.format(alpha))
    print('Training score: {}'.format(model.score(x_train, y_train)))
    print('Test score: {}'.format(model.score(x_test, y_test)))
    print()

Alpha: 0.1
Training score: 0.03374185062954416
Test score: 0.03988876423197074

Alpha: 0.15
Training score: 0.033741850563936526
Test score: 0.03988865735971603

Alpha: 0.3
Training score: 0.033741850209699775
Test score: 0.039888336606306085

Alpha: 0.6
Training score: 0.03374184879314457
Test score: 0.039887694484846525

Alpha: 0.9
Training score: 0.033741846433038014
Test score: 0.03988705154439598

Alpha: 1
Training score: 0.03374184543677372
Test score: 0.039886837049024626

In [10]:
# 6.	(30pts) Perform steps 3-5 using the features “math-score” and “reading-score”

df_dropped_na_math_score = df.dropna(subset=["math score"])

math_score_for_prediction = df_dropped_na_math_score[["math score"]]
reading_score_for_prediction = df_dropped_na_math_score[["reading score"]]

x_train, x_test, y_train, y_test = train_test_split(reading_score_for_prediction, math_score_for_prediction, test_size=0.2, random_state=42)

print("-----------For math score and reading score-----------")
print('-----------Linear Regression-----------')
model = LinearRegression()
model.fit(x_train, y_train)
print('Training score: {}'.format(model.score(x_train, y_train)))
print('Test score: {}'.format(model.score(x_test, y_test)))
print()

print('-----------Lasso - L1 Regularization-----------')
for alpha in [.1, .15, .3, .6, .9, 1]:
    model = Lasso(alpha=alpha)
    model.fit(x_train, y_train)
    print('Alpha: {}'.format(alpha))
    print('Training score: {}'.format(model.score(x_train, y_train)))
    print('Test score: {}'.format(model.score(x_test, y_test)))
    print()

print('-----------Ridge - L2 Regularization-----------')
for alpha in [.1, .15, .3, .6, .9, 1]:
    model = Ridge(alpha=alpha)
    model.fit(x_train, y_train)
    print('Alpha: {}'.format(alpha))
    print('Training score: {}'.format(model.score(x_train, y_train)))
    print('Test score: {}'.format(model.score(x_test, y_test)))
    print()

-----------For math score and reading score-----------
-----------Linear Regression-----------
Training score: 0.6701912036207764
Test score: 0.6610563737451708

-----------Lasso - L1 Regularization-----------
Alpha: 0.1
Training score: 0.6701910022807541
Test score: 0.6610330532789878

Alpha: 0.15
Training score: 0.6701907506057263
Test score: 0.6610212535563514

Alpha: 0.3
Training score: 0.6701893915605753
Test score: 0.6609852964302634

Alpha: 0.6
Training score: 0.670183955379972
Test score: 0.6609108713662801

Alpha: 0.9
Training score: 0.6701748950789663
Test score: 0.660833098553221

Alpha: 1
Training score: 0.6701710696185417
Test score: 0.6608064303379622

-----------Ridge - L2 Regularization-----------
Alpha: 0.1
Training score: 0.6701912036205464
Test score: 0.6610563490140359

Alpha: 0.15
Training score: 0.6701912036202589
Test score: 0.6610563366483201

Alpha: 0.3
Training score: 0.6701912036187058
Test score: 0.6610562995505781

Alpha: 0.6
Training score: 0.6701912036124934
Test score: 0.6610562253524207

Alpha: 0.9
Training score: 0.6701912036021397
Test score: 0.6610561511506985

Alpha: 1
Training score: 0.670191203597768
Test score: 0.6610561264159989

In [15]:
# 7.	(30pts) Perform steps 3-5 using the features “math-score” and “reading-score” but divide up you training and test data differently.
print("-----------For math score and reading score-----------\n")
df_dropped_na_math_score = df.dropna(subset=["math score"])
math_score_for_prediction = df_dropped_na_math_score[["math score"]]
reading_score_for_prediction = df_dropped_na_math_score[["reading score"]]

model_details = []

for test_size in [0.1, 0.2, 0.3]:
  print('-----------Test size: {}-----------'.format(test_size))
  x_train, x_test, y_train, y_test = train_test_split(reading_score_for_prediction, math_score_for_prediction, test_size=test_size, random_state=42)
  print('-----------Linear Regression-----------')
  model = LinearRegression()
  model.fit(x_train, y_train)
  training_score = model.score(x_train, y_train)
  test_score = model.score(x_test, y_test)
  print('Training score: {}'.format(training_score))
  print('Test score: {}'.format(test_score))
  # append the model details to the list
  model_details.append({'model': 'Linear Regression', 'test_size': test_size, 'training_score': training_score, 'test_score': test_score})
  print()

  print('-----------Lasso - L1 Regularization-----------')
  for alpha in [.1, .15, .3, .6, .9, 1]:
      model = Lasso(alpha=alpha)
      model.fit(x_train, y_train)
      print('Alpha: {}'.format(alpha))
      training_score = model.score(x_train, y_train)
      test_score = model.score(x_test, y_test)
      print('Training score: {}'.format(training_score))
      print('Test score: {}'.format(test_score))
      model_details.append({'model': 'Lasso - L1 Regularization', 'test_size': test_size, 'alpha': alpha, 'training_score': training_score, 'test_score': test_score})
      print()

  print('-----------Ridge - L2 Regularization-----------')
  for alpha in [.1, .15, .3, .6, .9, 1]:
      model = Ridge(alpha=alpha)
      model.fit(x_train, y_train)
      print('Alpha: {}'.format(alpha))
      training_score = model.score(x_train, y_train)
      test_score = model.score(x_test, y_test)
      print('Training score: {}'.format(training_score))
      print('Test score: {}'.format(test_score))
      model_details.append({'model': 'Ridge - L2 Regularization', 'test_size': test_size, 'alpha': alpha, 'training_score': training_score, 'test_score': test_score})
      print()

-----------For math score and reading score-----------

-----------Test size: 0.1-----------
-----------Linear Regression-----------
Training score: 0.6710360174427533
Test score: 0.6479618130511838

-----------Lasso - L1 Regularization-----------
Alpha: 0.1
Training score: 0.6710358162517176
Test score: 0.6478608752284918

Alpha: 0.15
Training score: 0.6710355647629227
Test score: 0.6478103018931816

Alpha: 0.3
Training score: 0.6710342067234314
Test score: 0.6476581641913933

Alpha: 0.6
Training score: 0.6710287745654653
Test score: 0.6473520091564612

Alpha: 0.9
Training score: 0.6710197209688553
Test score: 0.647043347946388

Alpha: 1
Training score: 0.6710158983391754
Test score: 0.6469399039485544

-----------Ridge - L2 Regularization-----------
Alpha: 0.1
Training score: 0.6710360174425756
Test score: 0.6479617183141457

Alpha: 0.15
Training score: 0.6710360174423535
Test score: 0.6479616709455711

Alpha: 0.3
Training score: 0.6710360174411538
Test score: 0.6479615288396243

Alpha: 0.6
Training score: 0.6710360174363554
Test score: 0.6479612446267282

Alpha: 0.9
Training score: 0.6710360174283581
Test score: 0.6479609604124961

Alpha: 1
Training score: 0.6710360174249814
Test score: 0.6479608656741217

-----------Test size: 0.2-----------
-----------Linear Regression-----------
Training score: 0.6701912036207764
Test score: 0.6610563737451708

-----------Lasso - L1 Regularization-----------
Alpha: 0.1
Training score: 0.6701910022807541
Test score: 0.6610330532789878

Alpha: 0.15
Training score: 0.6701907506057263
Test score: 0.6610212535563514

Alpha: 0.3
Training score: 0.6701893915605753
Test score: 0.6609852964302634

Alpha: 0.6
Training score: 0.670183955379972
Test score: 0.6609108713662801

Alpha: 0.9
Training score: 0.6701748950789663
Test score: 0.660833098553221

Alpha: 1
Training score: 0.6701710696185417
Test score: 0.6608064303379622

-----------Ridge - L2 Regularization-----------
Alpha: 0.1
Training score: 0.6701912036205464
Test score: 0.6610563490140359

Alpha: 0.15
Training score: 0.6701912036202589
Test score: 0.6610563366483201

Alpha: 0.3
Training score: 0.6701912036187058
Test score: 0.6610562995505781

Alpha: 0.6
Training score: 0.6701912036124934
Test score: 0.6610562253524207

Alpha: 0.9
Training score: 0.6701912036021397
Test score: 0.6610561511506985

Alpha: 1
Training score: 0.670191203597768
Test score: 0.6610561264159989

-----------Test size: 0.3-----------
-----------Linear Regression-----------
Training score: 0.675254208118049
Test score: 0.6526099204861207

-----------Lasso - L1 Regularization-----------
Alpha: 0.1
Training score: 0.6752540071966744
Test score: 0.6526092848716627

Alpha: 0.15
Training score: 0.6752537560449561
Test score: 0.6526088214876481

Alpha: 0.3
Training score: 0.6752523998256768
Test score: 0.6526068490284611

Alpha: 0.6
Training score: 0.6752469749485601
Test score: 0.6526002837279445

Alpha: 0.9
Training score: 0.6752379334866989
Test score: 0.6525902245845707

Alpha: 1
Training score: 0.6752341159805799
Test score: 0.6525860951272555

-----------Ridge - L2 Regularization-----------
Alpha: 0.1
Training score: 0.6752542081177451
Test score: 0.6526099199427416

Alpha: 0.15
Training score: 0.675254208117365
Test score: 0.6526099196708322

Alpha: 0.3
Training score: 0.675254208115313
Test score: 0.6526099188542237

Alpha: 0.6
Training score: 0.6752542081071051
Test score: 0.6526099172170469

Alpha: 0.9
Training score: 0.6752542080934252
Test score: 0.6526099155745904

Alpha: 1
Training score: 0.6752542080876491
Test score: 0.6526099150259317

In [28]:
model_details_df = pd.DataFrame(model_details)
# model_details_df

# get the max test score for each model with full data
idx = model_details_df.groupby(['model'])['test_score'].transform(max) == model_details_df['test_score']
model_details_df[idx]

                        model  test_size  training_score  test_score  alpha
13          Linear Regression        0.2        0.670191    0.661056    NaN
14  Lasso - L1 Regularization        0.2        0.670191    0.661033    0.1
20  Ridge - L2 Regularization        0.2        0.670191    0.661056    0.1

In [29]:
# get the max training score for each model with full data
idx = model_details_df.groupby(['model'])['training_score'].transform(max) == model_details_df['training_score']
model_details_df[idx]

                        model  test_size  training_score  test_score  alpha
26          Linear Regression        0.3        0.675254    0.652610    NaN
27  Lasso - L1 Regularization        0.3        0.675254    0.652609    0.1
33  Ridge - L2 Regularization        0.3        0.675254    0.652610    0.1

In [31]:
# 9.	(5pts) Which percentage of test data and training data performed better?
idx = model_details_df.groupby(['test_size'])['test_score'].transform(max) == model_details_df['test_score']
model_details_df[idx]

                model  test_size  training_score  test_score  alpha
0   Linear Regression        0.1        0.671036    0.647962    NaN
13  Linear Regression        0.2        0.670191    0.661056    NaN
26  Linear Regression        0.3        0.675254    0.652610    NaN

In [50]:
# 10. (10pts) Using the highest performing feature, model (Linear Regression, Linear
# Regression + L1 Regularization, or Linear Regression + L2) and alpha, update the missing
# values in ‘math-score` with the predicted values.

# Show all the rows with missing values in math score
df[df['math score'].isna()]
# copy the dataframe to a new dataframe for prediction
df_prediction = df.copy()
# drop the rows with non missing values in math score
df_prediction = df_prediction[df_prediction['math score'].isna()]


# prepare the model for prediction
math_score_for_prediction = df_dropped_na_math_score[["math score"]]
reading_score_for_prediction = df_dropped_na_math_score[["reading score"]]

x_train, x_test, y_train, y_test = train_test_split(reading_score_for_prediction, math_score_for_prediction, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(x_train, y_train)


print('Training score: {}'.format(model.score(x_train, y_train)))
print('Test score: {}'.format(model.score(x_test, y_test)))


model.predict(df_prediction[["reading score"]])

df_prediction['math score'] = model.predict(df_prediction[["reading score"]])
df_prediction

Training score: 0.6701912036207764
Test score: 0.6610563737451708

,Unnamed: 0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,parental_level_of_education_encoded
44,44,male,group E,high school,standard,none,82.340782,88,87,2
132,132,male,group B,some college,standard,none,61.174430,63,57,4
342,342,male,group C,associate's degree,free/reduced,none,60.327776,62,54,0
462,462,female,group C,some college,free/reduced,completed,45.088003,44,50,4
499,499,male,group B,associate's degree,standard,completed,78.954166,84,81,0
524,524,male,group D,some college,free/reduced,none,47.627965,47,48,4
652,652,female,group C,some high school,standard,completed,92.500631,100,97,5
713,713,female,group E,master's degree,standard,none,56.094506,57,58,3
837,837,male,group A,high school,standard,completed,67.101009,70,63,2
876,876,female,group B,high school,standard,none,54.401198,55,57,2

In [52]:
# 11. (10pts) Perform one hot-encoding on the ‘parental level of education’ and add it to the
# dataframe (remember to drop the original ‘parental level of education’ column).

from sklearn.preprocessing import OneHotEncoder

df2 = pd.read_csv('student-exam-score.csv')
print(df2["parental level of education"].unique())

encoder = OneHotEncoder()
result = encoder.fit_transform(df2[["parental level of education"]])
print(encoder.categories_)
df2[encoder.categories_[0]] = result.toarray()
df2.drop(columns=["parental level of education"]).head(6)

['high school' 'some high school' 'some college' "associate's degree"
 "bachelor's degree" "master's degree"]
[array(["associate's degree", "bachelor's degree", 'high school',
       "master's degree", 'some college', 'some high school'],
      dtype=object)]

,Unnamed: 0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,associate's degree,bachelor's degree,high school,master's degree,some college,some high school
0,0,male,group A,high school,standard,completed,67.0,67,63,0.0,0.0,1.0,0.0,0.0,0.0
1,1,female,group D,some high school,free/reduced,none,40.0,59,55,0.0,0.0,0.0,0.0,0.0,1.0
2,2,male,group E,some college,free/reduced,none,59.0,60,50,0.0,0.0,0.0,0.0,1.0,0.0
3,3,male,group B,high school,standard,none,77.0,78,68,0.0,0.0,1.0,0.0,0.0,0.0
4,4,male,group E,associate's degree,standard,completed,78.0,73,68,1.0,0.0,0.0,0.0,0.0,0.0
5,5,female,group D,high school,standard,none,63.0,77,76,0.0,0.0,1.0,0.0,0.0,0.0